/* styles.css */

/* ====================== 基本样式 ====================== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* ====================== 容器样式 ====================== */
.container {
    width: 90%; /* 增加容器宽度 */
    max-width: 1200px;
    margin: 0px auto; /* 增加上外边距 */
    padding: 20px 20px; /* 增加内边距 */
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* 加强阴影效果 */
}

/* ====================== 页眉和页脚样式 ====================== */
header, footer {
    text-align: center;
    padding: 15px 0; /* 减少内边距 */
    background-color: #76ACE6FF;
    color: #fff;
}

header h1, footer p {
    margin: 0;
}

/* ====================== 主要内容样式 ====================== */
main {
    padding: 20px 0;
}

/* ====================== 文字和图表部分样式 ====================== */
.text-section, .chart-section {
    margin-bottom: 30px; /* 减少底部外边距 */
}

/* ====================== 图表占位符 和 图表描述样式 ====================== */
.chart-placeholder, .chart-description {
    flex: 1; /* 占据可用空间 */
    margin: 20px 0; /* 调整上下外边距 */
    min-width: 280px; /* 最小宽度 */
}

.chart-placeholder {
    width: 100%;
    height: 300px;
    border: 2px dashed #5586BBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #007BFF;
    background-color: #e7f3ff;
}

.chart-description p {
    margin: 0 0 5px; /* 调整底部外边距 */
    padding: 5px 15px; /* 统一内边距 */
    font-size: 1em; /* 设定字体大小 */
    line-height: 1.6; /* 增加行高，提高可读性 */
    color: #555; /* 设置字体颜色 */
    text-align: justify; /* 两端对齐 */
    transition: color 0.3s ease; /* 过渡效果 */
}

/* ====================== 图表部分样式 ====================== */
.chart-section {
    display: flex;
    flex-wrap: wrap; /* 允许换行 */
}

#box2 .chart-description {
    order: 1; /* 调整图表顺序 */
}

#box2 .chart-placeholder {
    order: 2; /* 调整图表顺序 */
}

/* ====================== 下拉选框样式 ====================== */

.select-container {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  

  select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
  
  select.minimal:focus {
    background-image:
      linear-gradient(45deg, green 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, green 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
  

  


/* ====================== 文本框样式 ====================== */
.textarea-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 90%; /* 全宽 */
    height: 200px; /* 固定高度 */
    padding: 10px; /* 内边距 */
    border: 1px solid #999; /* 边框样式 */
    background-color: #f1f1f1; /* 背景颜色 */
    color: #333; /* 字体颜色 */
    font-size: 16px; /* 字体大小 */
    line-height: 1.6; /* 行高 */
    resize: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 阴影效果 */
}

/* 聚焦时的样式 */
textarea:focus {
    border-color: #76ACE6FF; /* 聚焦时改变边框颜色 */
    outline: none; /* 去掉默认的聚焦轮廓 */
    box-shadow: 0 0 5px rgba(118, 172, 230, 0.5); /* 聚焦时的阴影效果 */
}


/* ====================== 媒体查询 ====================== */
@media (max-width: 800px) {
    .chart-section {
        flex-direction: column; /* 设置为竖直方向布局 */
    }
}
